<!DOCTYPE html>
<html>
  <head>
    <title>ThpEventbriteLike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- download from bootstrap CDN and others -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- -end- download from bootstrap CDN and others -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #b0c4de;">
        <svg class="navbar-brand bi bi-music-player" width="2em" viewbox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 3H6a1 1 0 00-1 1v12a1 1 0 001 1h8a1 1 0 001-1V4a1 1 0 00-1-1zM6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2H6z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M13 5H7v3h6V5zM7 4a1 1 0 00-1 1v3a1 1 0 001 1h6a1 1 0 001-1V5a1 1 0 00-1-1H7zm3 11a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"></path>
          <circle cx="10" cy="13" r="1"></circle>
        </svg>

        <%= link_to 'THP EventBrite Like', index_path, class:'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to 'Accueil', index_path, class:'nav-item nav-link active' %>
            <% if user_signed_in? %>
              <div class="nav-item dropdown">
                <%= link_to 'Les événements', nil, class:'nav-link dropdown-toggle', 'id'=>"dropdownMenu2", 'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"%>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <%= link_to 'Voir les événements', index_path, class:'dropdown-item' %>
                  <%= link_to 'Ajouter un événement',new_event_path, class:'dropdown-item' %>
                </div>

              </div>

            <% else %>
              <div class="navbar-nav ml-auto pr-2">
                <%= link_to "Connexion", new_user_session_path, class:'nav-item nav-link pr-1' %>
                <%= link_to "Inscription", new_user_registration_path, class:'nav-item nav-link' %>
              </div>

            <% end %>
          </div>

          <div class="nav-item dropdown ml-auto">
            <%= link_to 'Actions', nil, class:'nav-link dropdown-toggle', 'id'=>"dropdownMenu2", 'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"%>

            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu3">
              <% if current_user %>
                <%= link_to 'Mon profil',users_show_path, class:"dropdown-item" %>
                <%= link_to 'Éditer mon profil',edit_user_registration_path, class:"dropdown-item" %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
              <% else %>
                <%= link_to 'Se connecter', new_user_session_path, class:"dropdown-item" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>

      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert"><%= flash[:notice] %>
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
